# Carpetas pesadas que Next.js y Node recrean solos
node_modules/
.next/
dist/

# 🌟 ULTRA IMPORTANTE: Las llaves secretas de tus APIs
.env
.env.local
.env.*.local

# Archivos temporales del sistema
.DS_Store
*.log